.Nav {
    background-color: #282C34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}
  
.Nav__ProfileLink {
    width: 2rem;
    height: 2rem;
    fill: #000000;

    &:hover {
        fill: #FFFFFF;
    }
}