@import "css/styles";

$nav-padding-vertical: 1rem;
$nav-padding-horizontal: 1.5rem;
$border-height: 0.25rem;

.Nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  height: 6.25rem;
  align-items: center;
  padding: 0 $nav-padding-horizontal;
  padding-bottom: $border-height;
  background: $color-white;
  transition: height $anim-speed-default ease-in-out;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: $border-height;
    content: "";
  }

  &::before {
    background: linear-gradient(to left, $color-link-highlight, $color-link);
  }

  &::after {
    background: linear-gradient(to left, $color-link, $color-link-highlight);
    opacity: 0;
    transition: opacity $anim-speed-slow ease-in-out;
  }
}

.Nav--MenuOpen {
  height: 50vh;

  &::after {
    opacity: 1;
  }
}

.Nav__MenuButton {
  position: absolute;
  z-index: 1;
  top: $nav-padding-vertical;
  left: $nav-padding-horizontal;
  display: flex;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-content: space-around;
  fill: $color-link;

  &:hover {
    fill: $color-link-highlight;
  }

  .Nav--MenuOpen & {
    fill: $color-link-highlight;

    &:hover {
      fill: $color-link;
    }
  }
}

.Nav__MenuButtonShape {
  width: 100%;
  height: 0.25rem;
  background: $color-link;

  .Nav--MenuOpen & {
    background: $color-link-highlight;
  }
}

.Nav__MenuButtonTop {
  transform: rotate(0);
  transform-origin: top left;
  transition: transform $anim-speed-default ease-in-out;

  .Nav--MenuOpen & {
    transform: rotate(45deg);
  }
}

.Nav__MenuButtonMiddle {
  transform: translateX(0);
  transition: transform $anim-speed-default ease-in-out;

  .Nav--MenuOpen & {
    transform: translateX(calc(-100% - #{$nav-padding-horizontal}));
  }
}

.Nav__MenuButtonBottom {
  transform: rotate(0);
  transform-origin: bottom left;
  transition: transform $anim-speed-default ease-in-out;

  .Nav--MenuOpen & {
    transform: rotate(-45deg);
  }
}

.Nav__Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  text-align: right;
}

.Nav__HeaderTitle {
  display: block;
  flex: 1 0 100%;
  margin-bottom: 0.25rem;
  color: $color-text;
  font-size: 2rem;
  font-weight: $font-weight-bold;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $color-link;
  }
}

.Nav__HeaderSubTitle {
  display: block;
  font-size: 1rem;
}

.Nav__HeaderSubTitleLine {
  display: block;
}
