@import "css/variables";

$_border-height: 0.25rem;
$_nav-padding-vertical: 1rem;
$_nav-padding-horizontal: 1.5rem;

.GlobalNav {
  position: fixed;
  z-index: $z-nav;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  height: $header-height;
  align-items: center;
  padding: 0 $_nav-padding-horizontal;
  padding-bottom: $_border-height;
  background: $color-background;
  transition: height $anim-speed-default ease-in-out;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: $_border-height;
    content: "";
  }

  &::before {
    background: $border-gradient;
  }

  &::after {
    background: linear-gradient(to left, $color-link, $color-link-highlight);
    opacity: 0;
    transition: opacity $anim-speed-crawl ease-in-out;
  }

  &--MenuOpen {
    height: 50vh;
  }

  &--MenuOpen::after {
    opacity: 1;
  }

  &__MenuButton {
    position: absolute;
    z-index: $z-body;
    top: $_nav-padding-vertical;
    left: $_nav-padding-horizontal;
    display: flex;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-content: space-around;
    fill: $color-link;
  }

  &__MenuButtonShape {
    width: 100%;
    height: 0.25rem;
    background: $color-link;
  }

  &__MenuButton:hover &__MenuButtonShape {
    background: $color-link-highlight;
  }

  &__MenuButtonTop {
    transform: rotate(0);
    transform-origin: top left;
    transition: transform $anim-speed-default ease-in-out;
  }

  &--MenuOpen &__MenuButtonTop {
    transform: rotate(45deg);
  }

  &__MenuButtonMiddle {
    transform: translateX(0);
    transition: transform $anim-speed-default ease-in-out;
  }

  &--MenuOpen &__MenuButtonMiddle {
    transform: translateX(calc(-100% - #{$_nav-padding-horizontal}));
  }

  &__MenuButtonBottom {
    transform: rotate(0);
    transform-origin: bottom left;
    transition: transform $anim-speed-default ease-in-out;
  }

  &--MenuOpen &__MenuButtonBottom {
    transform: rotate(-45deg);
  }

  &__Header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    text-align: right;
  }

  &__HeaderTitle {
    display: block;
    margin-bottom: 0.25rem;
    color: $color-text;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__HeaderTitle:hover {
    color: $color-link;
  }

  &__HeaderSubTitle {
    display: block;
    font-size: $font-size-sm;
  }

  &__HeaderSubTitleLine {
    display: block;
  }
}
