@import "css/variables";

$_border-width: 0.5rem;

.SectionHeader {
  line-height: 0;

  &__Image {
    width: 100%;
  }

  &__ContentWrapper {
    position: relative;
    padding: 0 1rem;
    background: linear-gradient(to bottom, transparent #{$section-offset}, $color-link-highlight #{$section-offset}, $color-link calc(100% - #{$section-offset}), transparent calc(100% - #{$section-offset}));

    @media (min-width: $bp-md) {
      padding: 0 3rem;
    }
  }

  &__ContentWrapper::before,
  &__ContentWrapper::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: $section-offset;
    content: "";
  }

  &__ContentWrapper::before {
    top: 0;
    background: linear-gradient(to bottom, transparent, $color-link-highlight);
  }

  &__ContentWrapper::after {
    bottom: 0;
    background: linear-gradient(to bottom, $color-link, transparent);
  }

  &__Content {
    position: relative;
    z-index: $z-body;
    max-width: 34rem;
    padding: 0.5rem 1.5rem;
    border: $_border-width solid;
    margin: -$section-offset auto;
    background: $color-background;
    border-image: linear-gradient(to bottom, $color-link-highlight, $color-link) 1;
    line-height: normal;
    transform: translateZ(0); // new stacking context to sit on top of image

    @media (min-width: $bp-md) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  &__Title {
    position: absolute;
    top: 0;
    right: -$_border-width;
    color: $color-link-highlight;
    font-size: $font-size-xl;
    font-weight: bold;
    line-height: 1;
    scroll-margin-top: #{$header-height--min + 1rem};
    text-align: right;
    text-shadow: 0.125rem -0.0625rem $color-white;
    text-transform: uppercase;
    transform: translateY(-100%);
  }

  &__Text {
    margin-top: 1rem;
    font-family: $font-2;
    font-size: $font-size-sm;
    line-height: 1.2;
    text-align: left;
  }
}
