/*
HEX
*/

// Grayscale
$color-white: #fff;
$color-black-13: #222;
$color-black: #000;

// Color
$color-link: #2a6161;
$color-link-highlight: #23afaf;

/*
APP
*/

// Text
$color-text: $color-black-13;
