@font-face {
  font-family: RobotoCondensed;
  src:
    local("RobotoCondensed"),
    url("../fonts/RobotoCondensed/RobotoCondensed.woff2") format("woff2");
}

$font-1: "RobotoCondensed", arial, sans-serif;
$font-weight-bold: bold;
